/* -------------- GENERAL -------------- */
.lb_btn {
    height: 40px;
    padding: 0 20px;
    letter-spacing: 4px;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.lb_primary-btn {
    background: $lb_lightRed;
    color: $lb_white;
    border: 2px solid $lb_lightRed;
    &:hover {
        background: $lb_darkRed;
        color: $lb_white;
        border: 2px solid $lb_darkRed;
    }
}
.lb_secondary-btn {
    background: transparent;
    color: $lb_lightRed;
    border: 2px solid $lb_lightRed;
    &:hover {
        background: transparent;
        color: $lb_darkRed;
        border: 2px solid $lb_darkRed;
    }
}
  