/* -------------- GENERAL -------------- */
footer {
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 100vh;
    grid-template-rows: 160px 1fr 160px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* -------------- LAYOUT -------------- */
.lb_footer-block {
    grid-row: 2 / 3;
    grid-column: 3 / 6;
    padding: 0 80px;
}
/* -------------- COMPONENTS -------------- */
h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    color: $lb_white;
}
.lb_baseline {
    color: $lb_white;
    opacity: .5;
    font-weight: 300;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    padding-left: 80px;
}
.lb_address {
    display: flex;
    flex-direction: column;
    color: $lb_white;
    margin-bottom: 60px;
    .lb_address-part {
        display: flex;
        align-items: flex-end;
        &:first-child {
            margin-bottom: 40px;
        }
        .lb_address-country {
            width: 50%;
            div {
                p {
                    &:first-child {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }
                    &:nth-child(2) {
                        font-size: 16px;
                        opacity: .5;
                        span {text-transform: uppercase;}
                    }
                }
            }
        }
    }
}
.lb_follow {
    margin-bottom: 40px;
    form {
        display: flex;
        flex-direction: column;
        input {
            height: 40px;
            border-radius: 0;
            border: none;
            width: 100%;
            margin-bottom: 10px;
        }
    }
}
.lb_copyright {
    grid-row: 3 / 4;
    grid-column: 1 / 6;
    padding-left: 80px;
    display: flex;
    align-items: center;
    color: $lb_white;
    font-size: 16px;
    opacity: .5;
}