/* -------------- GENERAL -------------- */
.lb_post-page {
    background: $lb_lightGray;
}
/* -------------- LAYOUT -------------- */
.lb_post-page_header {
    background: $lb_black;
    display: flex;
    flex-direction: column;
    padding: 320px 80px 60px 80px;
    .lb_post-page_header-top {
        position: relative;
    }
    .lb_post-page_header-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.lb_post-page_footer {
    padding: 0 320px 80px 320px;
}
/* -------------- COMPONENTS -------------- */
.lb_post-page_return {
    color: $lb_white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &:hover {
        color: $lb_lightRed;
    }
    svg {
        font-size: 18px;
        margin-right: 10px;
        font-size: 24px;
    }
}
.lb_post-page_img {
    height: 480px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
        width: 100%;
    } 
}
.lb_post-page_title {
    font-family: 'Bebas Neue';
    color: $lb_white;
    font-size: 96px;
    line-height: 96px;
    z-index: 2;
    text-align: right;
    width: calc(100% - 220px);
    position: absolute;
    right: 0;
    top: -92px;
}
.lb_post-page_tags {
    display: flex;
    align-items: center;
    a {
        text-decoration: none;
        color: $lb_white;
        font-size: 10px;
        margin-left: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:hover {color: $lb_lightRed;}
    }
}
.lb_post-page_date {
    font-size: 16px;
    color: $lb_white;
    opacity: .5;
}
.lb_post-page_content {
    padding: 80px 320px 20px 320px;
    color: $lb_white;
    h2 {
        font-family: 'Roboto', sans-serif;
        color: $lb_white;
        font-size: 42px;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    p {
        font-size: 18px;
        line-height: 32px;
        font-weight: 300;
        margin-bottom: 40px;
    }
    code {line-height: 26px;}
    em {opacity: .5;}
    a {
        color: $lb_lightRed;
        opacity: 1;
        &:hover {
            text-decoration: none;
        }
    }
    .imageblock {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $lb_darkGray;
        padding: 40px;
        img {
            width: 100%;
        }
    }
    .image {
        background: $lb_darkGray;
        display: flex;
        justify-content: center;
        padding: 40px;
    }
}
.lb_post-page_author {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    img {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
        background: $lb_darkGray;
        z-index: 2;
    }
    .lb_author-frame {
        width: 80px;
        height: 80px;
        transform: rotate(10deg);
        position: absolute;
        z-index: 2;
        border: 1px solid $lb_lightRed;
    }
    p {
        color: $lb_white;
        opacity: .5;
    }
    .lb_author-line {
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        width: 100%;
        position: absolute;
        top: 40px;
    }
}
