<<<<<<< Updated upstream
.lbe_social {
=======
/* -------------- GENERAL -------------- */
.lb_social {
>>>>>>> Stashed changes
    display: flex;
    align-items: center;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: white;
        margin-right: 10px;
        &:last-child {margin-right: 0;}
        &:hover {
<<<<<<< Updated upstream
            svg {color: var(--color-link);}
=======
            svg {color: $lb_lightRed;}
>>>>>>> Stashed changes
        }
        svg {font-size: 18px;}
    }
}