/* -------------- GENERAL -------------- */
.lb_social {
    display: flex;
    align-items: center;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: white;
        margin-right: 10px;
        &:last-child {margin-right: 0;}
        &:hover {
            svg {color: $lb_lightRed;}
        }
        svg {font-size: 18px;}
    }
}