/* -------------- COLORS -------------- */
$lb_white: #FFFFFF;
$lb_lightRed: #EA212E;
$lb_darkRed: #C80028;
$lb_black: #000000;
$lb_darkGray: #111111;
$lb_lightGray: #1D1D1F;

/* -------------- OPACITY -------------- */
$lb_opacity: .5;