/* GENERAL */
body {
    --color-text: #fff;
    --color-bg: #171717;
    --color-link: #ff0000;
    background-color: var(--color-bg);
}
/* CURSOR CUSTOM */
.page, .page a {
    cursor: none;
}
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page__inner {
    display: flex;
    justify-content: center;
    width: 100%;
}
.cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
}
.cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: var(--color-text);
}
.cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
}
/* UNE */
.lbe_une {
    background: url("../images/background.jpg") black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    padding: 80px;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.lbe_logo img {
    height: 40px;
}
.lbe_une-title {

}
.lbe_une-title p:first-child {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 130px;
    line-height: 110px;
}
.lbe_une-title p:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-size: 174px;
    text-transform: uppercase;
    margin-top: -15px;
    margin-left: -5px;
}
.lbe_social {
    display: flex;
    align-items: center;
}
.lbe_social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: white;
}
.lbe_social a svg {
    font-size: 24px;
}
.lbe_social a:first-child {
    margin-right: 10px;
}
.lbe_social a:hover svg {
    color: var(--color-link);
}
.lbe_text-ban {
    transform: rotate(-90deg) translate(-50%, 100%);
    position: absolute;
    left: calc(100vw - 340px);
    bottom: 0;
    white-space: nowrap;
    transform-origin: left bottom;
    height: 100px;
    display: flex;
    align-items: center;
    opacity: .5;
}
.lbe_text-ban-animation {
    display: flex;
    animation: slideLeft 40s infinite linear reverse;
} 
.lbe_text-ban-animation p {
    font-family: 'Bebas Neue', cursive;
    font-size: 94px;
    margin-right: 15px;
    color: white;
}
.lbe_text-ban-animation p:nth-child(even) {
    color: transparent;
    -webkit-text-stroke: 1px white;
}
.lbe_text-ban-animation p:nth-child(odd) span {
    color: transparent;
    -webkit-text-stroke: 1px white;
}
.lbe_text-ban-animation p:nth-child(even) span {
    color: white;
    -webkit-text-stroke: none;
}
@keyframes slideLeft {
    0% {transform: translate3d(50%, 0, 0);}
    100% {transform: translate3d(0, 0, 0);}
}
.lbe_menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 8px;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 80px;
}
.lbe_menu span:first-child {
    display: block;
    background: white;
    height: 1px;
    width: 14px;
    transition: all .7s ease;
}
.lbe_menu span:nth-child(2) {
    display: block;
    background: white;
    height: 1px;
    width: 24px;
    margin-top: 10px;
    transition: all .7s ease;
}
.lbe_menu:hover span:first-child, .lbe_menu:hover span:nth-child(2) {
    transform: translateX(-5px);
    background: var(--color-link);
}
.lbe_menu:hover span:first-child {
    width: 24px;
}
.lbe_menu:hover span:nth-child(2) {
    width: 14px;
}





/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    padding: 80px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


.scroll-down {
    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all 0.2s ease 0.05s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll-down span:first-child {
    transform: rotate(-45deg);
    display: block;
    width: 15px;
    height: 15px;
    content: "";
    border: 1px solid white;
    border-width: 0px 0 1px 1px;
    transition: all .7s ease;
}
.scroll-down span:nth-child(2) {
    position: absolute;
    height: 20px;
    width: 1px;
    display: block;
    background: white;
    margin-top: -2px;
    margin-left: 1px;
    transition: all .7s ease;
}
.scroll-down:hover span:first-child {
    border-color: var(--color-link);
}
.scroll-down:hover span:nth-child(2) {
    background: var(--color-link);
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}








