/* Reset */
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background: none;
  border: none;
  color: white; }

:focus {
  outline: none; }

/* -------------- GENERAL -------------- */
body {
  --color-text: #fff;
  --color-bg: #171717;
  --color-link: #EA212E;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--color-bg);
  cursor: none; }

footer {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background: black;
  color: white;
  padding: 80px;
  border-top: 4px solid var(--color-link); }
  footer > div:first-child {
    grid-template-columns: 1fr 2fr 1fr;
    display: grid; }
  footer h3 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 20px;
    letter-spacing: 2px; }
  footer .lbe_footer-address {
    display: flex;
    flex-direction: column; }
    footer .lbe_footer-address .lbe_footer-address_part {
      display: flex;
      align-items: flex-end; }
      footer .lbe_footer-address .lbe_footer-address_part:first-child {
        margin-bottom: 60px; }
      footer .lbe_footer-address .lbe_footer-address_part .lbe_footer-address_country {
        margin-bottom: 30px;
        width: 50%; }
        footer .lbe_footer-address .lbe_footer-address_part .lbe_footer-address_country div p:first-child {
          font-size: 18px;
          margin-bottom: 10px; }
        footer .lbe_footer-address .lbe_footer-address_part .lbe_footer-address_country div p:nth-child(2) {
          font-size: 16px;
          font-weight: 300;
          line-height: 22px; }
          footer .lbe_footer-address .lbe_footer-address_part .lbe_footer-address_country div p:nth-child(2) span {
            text-transform: uppercase; }
  footer .lbe_footer-follow {
    margin-bottom: 30px; }
    footer .lbe_footer-follow form {
      display: flex;
      align-items: center; }
      footer .lbe_footer-follow form input {
        height: 40px;
        border-radius: 0;
        border: none;
        width: 100%;
        margin-right: 8px; }

.lbe_logo img {
  height: 40px; }

.lbe_social {
  display: flex;
  align-items: center; }
  .lbe_social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: white;
    margin-right: 10px; }
    .lbe_social a:last-child {
      margin-right: 0; }
    .lbe_social a:hover svg {
      color: var(--color-link); }
    .lbe_social a svg {
      font-size: 18px; }

button {
  font-family: 'Roboto', sans-serif; }

.lbe_primary-btn {
  height: 40px;
  padding: 0 20px;
  background: #EA212E;
  color: white;
  letter-spacing: 4px;
  font-size: 10px;
  text-transform: uppercase;
  border: 2px solid #EA212E;
  cursor: pointer; }
  .lbe_primary-btn:hover {
    background: transparent;
    color: #C80028;
    border: 2px solid #C80028; }

.lbe_une {
  background: url("../images/background.jpg") black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  padding: 80px;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden; }
  .lbe_une .lbe_une-title p:first-child {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 130px;
    line-height: 110px; }
  .lbe_une .lbe_une-title p:nth-child(2) {
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px white;
    font-size: 174px;
    text-transform: uppercase;
    margin-top: -15px;
    margin-left: -5px; }
  .lbe_une .lbe_text-ban {
    transform: rotate(-90deg) translate(-50%, 100%);
    position: absolute;
    left: calc(100vw - 340px);
    bottom: 0;
    white-space: nowrap;
    transform-origin: left bottom;
    height: 100px;
    display: flex;
    align-items: center;
    opacity: .5; }
    .lbe_une .lbe_text-ban .lbe_text-ban-animation {
      display: flex;
      animation: slideLeft 40s infinite linear reverse; }
      .lbe_une .lbe_text-ban .lbe_text-ban-animation p {
        font-family: 'Bebas Neue', cursive;
        font-size: 94px;
        margin-right: 15px;
        color: white; }
        .lbe_une .lbe_text-ban .lbe_text-ban-animation p:nth-child(even) {
          color: transparent;
          -webkit-text-stroke: 1px white; }
          .lbe_une .lbe_text-ban .lbe_text-ban-animation p:nth-child(even) span {
            color: white;
            -webkit-text-stroke: none; }
        .lbe_une .lbe_text-ban .lbe_text-ban-animation p:nth-child(odd) span {
          color: transparent;
          -webkit-text-stroke: 1px white; }
  .lbe_une .lbe_menu {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 8px;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 80px; }
    .lbe_une .lbe_menu:hover span:first-child {
      width: 24px; }
    .lbe_une .lbe_menu:hover span:nth-child(2) {
      width: 14px; }
    .lbe_une .lbe_menu:hover span:first-child, .lbe_une .lbe_menu:hover span:nth-child(2) {
      transform: translateX(-5px);
      background: var(--color-link); }
    .lbe_une .lbe_menu span:first-child {
      display: block;
      background: white;
      height: 1px;
      width: 14px;
      transition: all .7s ease; }
    .lbe_une .lbe_menu span:nth-child(2) {
      display: block;
      background: white;
      height: 1px;
      width: 24px;
      margin-top: 10px;
      transition: all .7s ease; }
  .lbe_une .lbe_scroll-down {
    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all 0.2s ease 0.05s;
    display: flex;
    align-items: center;
    justify-content: center; }
    .lbe_une .lbe_scroll-down:hover span:first-child {
      border-color: var(--color-link); }
    .lbe_une .lbe_scroll-down:hover span:nth-child(2) {
      background: var(--color-link); }
    .lbe_une .lbe_scroll-down span:first-child {
      transform: rotate(-45deg);
      display: block;
      width: 15px;
      height: 15px;
      content: "";
      border: 1px solid white;
      border-width: 0px 0 1px 1px;
      transition: all .7s ease; }
    .lbe_une .lbe_scroll-down span:nth-child(2) {
      position: absolute;
      height: 20px;
      width: 1px;
      display: block;
      background: white;
      margin-top: -2px;
      margin-left: 1px;
      transition: all .7s ease; }

@keyframes slideLeft {
  0% {
    transform: translate3d(50%, 0, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px); } }

.lbe_page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .lbe_page .lbe_page-inner {
    display: flex;
    justify-content: center;
    width: 100%; }
    .lbe_page .lbe_page-inner .lbe_cursor {
      position: fixed;
      left: 0;
      top: 0;
      pointer-events: none; }
    .lbe_page .lbe_page-inner .lbe_cursor-small {
      width: 5px;
      height: 5px;
      left: -2.5px;
      top: -2.5px;
      border-radius: 50%;
      z-index: 11000;
      background: var(--color-text); }
    .lbe_page .lbe_page-inner .lbe_cursor-canvas {
      width: 100vw;
      height: 100vh;
      z-index: 12000; }

.lbe_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: flex-start;
  justify-content: flex-end; }
  .lbe_modal .lbe_modal-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #f8f9fc;
    padding: 80px;
    width: 80vw;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9); }
  .lbe_modal .lbe_modal-company img {
    height: 40px;
    margin-bottom: 45px; }
  .lbe_modal .lbe_modal-company p {
    opacity: .5;
    font-weight: 300;
    line-height: 20px; }
  .lbe_modal .lbe_modal-menu {
    position: relative;
    z-index: 10; }
  .lbe_modal .lbe_menu-item {
    position: relative;
    display: block;
    outline: none;
    margin: 0 0 1.5em;
    line-height: 1;
    color: #272727; }
    .lbe_modal .lbe_menu-item:hover, .lbe_modal .lbe_menu-item:focus {
      color: #EA212E; }
      .lbe_modal .lbe_menu-item:hover .lbe_menu-item_entry::before, .lbe_modal .lbe_menu-item:focus .lbe_menu-item_entry::before {
        transform: scale3d(1, 1, 1); }
    .lbe_modal .lbe_menu-item .lbe_menu-item_entry {
      position: relative;
      display: inline-block;
      font-size: 18px;
      padding: 0 0.35em;
      line-height: 1.4;
      transition: color 0.5s;
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
      .lbe_modal .lbe_menu-item .lbe_menu-item_entry::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 50%;
        left: 0;
        bottom: 0;
        opacity: 0.3;
        transform: scale3d(0, 1, 1);
        transform-origin: 0% 50%;
        transition: transform 0.5s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        background: #EA212E; }
  .lbe_modal .lbe_close {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .lbe_modal .lbe_close:hover .lbe_close-bar1 {
      transform: rotate(-45deg);
      background-color: var(--color-link); }
    .lbe_modal .lbe_close:hover .lbe_close-bar2 {
      transform: rotate(45deg);
      background-color: var(--color-link); }
    .lbe_modal .lbe_close:hover p {
      opacity: 1; }
    .lbe_modal .lbe_close p {
      color: var(--color-link);
      font-family: Helvetica, Arial, sans-serif;
      font-size: .6em;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: all .3s ease-in;
      opacity: 0;
      position: absolute;
      right: 50px;
      top: 17px;
      position: absolute;
      right: 50px;
      top: 17px; }
    .lbe_modal .lbe_close .lbe_close-bar {
      height: 1px;
      width: 25px;
      position: absolute;
      background-color: black;
      transition: all .3s ease-in; }
    .lbe_modal .lbe_close .lbe_close-bar1 {
      transform: rotate(45deg); }
    .lbe_modal .lbe_close .lbe_close-bar2 {
      transform: rotate(-45deg); }

.lbe_article-overview_list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, calc(100vw / 4));
  padding: 80px;
  background: #f8f9fc; }
  .lbe_article-overview_list .lbe_article-overview {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; }
    .lbe_article-overview_list .lbe_article-overview:before {
      background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.5) 16%, rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0.9) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.5) 16%, rgba(0, 0, 0, 0.6) 75%, rgba(0, 0, 0, 0.9) 100%);
      bottom: 0;
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 0s;
      width: 100%;
      opacity: 1;
      z-index: 1; }
    .lbe_article-overview_list .lbe_article-overviewhover .lbe_article-overview_border {
      opacity: 1;
      transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 0s; }
    .lbe_article-overview_list .lbe_article-overview:hover:before {
      opacity: 0.5; }
    .lbe_article-overview_list .lbe_article-overview:nth-child(7n+1) {
      grid-column: span 2;
      grid-row: span 2; }
      .lbe_article-overview_list .lbe_article-overview:nth-child(7n+1) .lbe_article-overview_content h2 {
        font-size: 48px;
        line-height: 50px; }
      .lbe_article-overview_list .lbe_article-overview:nth-child(7n+1) .lbe_article-overview_content p:nth-child(2) {
        font-size: 18px; }
    .lbe_article-overview_list .lbe_article-overview .lbe_article-overview_content {
      position: absolute;
      width: 100%;
      z-index: 10;
      height: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 40px;
      color: white;
      text-decoration: none; }
      .lbe_article-overview_list .lbe_article-overview .lbe_article-overview_content h2 {
        font-family: 'Bebas Neue', cursive;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 22px;
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 20px; }
      .lbe_article-overview_list .lbe_article-overview .lbe_article-overview_content p {
        font-family: Georgia, serif; }
        .lbe_article-overview_list .lbe_article-overview .lbe_article-overview_content p:nth-child(2) {
          margin-bottom: 5px; }
        .lbe_article-overview_list .lbe_article-overview .lbe_article-overview_content p:nth-child(3) {
          font-style: italic; }
    .lbe_article-overview_list .lbe_article-overview .lbe_article-img {
      min-width: 120%;
      height: 120%;
      position: absolute; }
    .lbe_article-overview_list .lbe_article-overview .lbe_article-overview_border {
      position: absolute;
      width: 90%;
      height: 90%;
      border: 4px solid white;
      margin: 0 auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0; }
    .lbe_article-overview_list .lbe_article-overview .lbe_article-overview_tag {
      display: none; }
