// Flexbox
.flexbox {@include flexbox;}
.ff-wrap {
    flex-flow: wrap;
    height: auto;
    overflow: hidden;
}
.jc-c {justify-content: center;}

// Space
.mgt-64 {margin-top: 64px;}
.p80-0 {padding: 120px 0;}

// Colors
.bg-gray {
    background: $pearl;
    background-image:
        radial-gradient(circle at 0% 0%, rgba(122, 36, 54, 0.04), transparent 40%),
        radial-gradient(circle at 100% 100%, rgba(122, 36, 54, 0.04), transparent 40%);
}

// Others
.d-none {display: none!important;}
