#progress-display {
    position: fixed;
    width: 100%;
    top: 96px;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: none;
    z-index: 10;
    @include phone {
        top: 0;
    }
}
#progress-over,
#progress-impend {
    float: left;
    top: 0;
    left: 0;
    height: 2px;
    margin: 0;
    padding: 0;
}
#progress-over {
    background: linear-gradient(90deg, $goldDeep, $gold, $goldLight);
    width: 0%;
}
#progress-impend {
    background-color: $noir;
    opacity: 0.08;
    width: 100%;
}
#progress-time {
    margin-right: 4px;
}
