name: Deploy Production

on:
  workflow_dispatch: {}

jobs:
  deploy_acceptance:
    uses: ./.github/workflows/deploy_template.yaml
    permissions:
      contents: read
    with:
      target_branch: 'production'
      source_branch: 'acceptance'
    secrets: inherit
