name: Deploy Acceptance

on:
  workflow_dispatch: {}

jobs:
  deploy_acceptance:
    uses: ./.github/workflows/deploy_template.yaml
    permissions:
      contents: read
    with:
      target_branch: 'acceptance'
      source_branch: 'main'
    secrets: inherit
